

    <div class="row">
    <div class="col">
   <footer><ul>
          <li ><a  class='{{#if state.home}}active{{/if}}' href='/'>Home</a></li> 
           <li><a class='{{#if state.about}}active{{/if}}' href='Menu'>Menu</a></li>    
          <li><a class='{{#if state.contact}}active{{/if}}' href='Contact'>Contact</a></li>
          
     </ul>
        <p>&copy; Mansura Khajra S00265100</p></footer> 
    </div>
    </div>
    