

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
   
    <!-- the mobile menu button) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Nav Menu -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {{#if state.home}}active{{/if}}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if state.menu}}active{{/if}}" href="/menu">Menu</a>
        </li>
         <li class="nav-item">
          <a class="nav-link {{#if state.order}}active{{/if}}" href="/order">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if state.contact}}active{{/if}}" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if state.login}}active{{/if}}" href="/login">Log in</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
