
<body>
  <main class="container text-center my-5">

    <ul class="list-group mb-4">
      <li class="list-group-item"><strong>Name:</strong> <span id="name"></span></li>
      <li class="list-group-item"><strong>Gender:</strong> <span id="gender"></span></li>
      <li class="list-group-item"><strong>Email:</strong> <span id="email"></span></li>
      <li class="list-group-item"><strong>Message:</strong> <span id="message"></span></li>
    </ul>

   <div class="d-flex flex-column align-items-center mb-4">
  <img
    src="/images/chef.jpg"
    alt="Chef preparing food at Valentino's Takeaway"
    class="img-fluid w-50 mb-3"
  />

  <h2 class="fw-bold text-center">Thank you for submitting your query!</h2>
</div>
    <a href="/" class="custom-home-btn">Return to Home</a>

  </main>

  <script>
    // Grabing query params from URL
    const params = new URLSearchParams(window.location.search);

    // Decodinfg and inserting values  into spans
    document.getElementById("name").textContent = params.get("name") || "N/A";
    document.getElementById("gender").textContent = params.get("gender") || "N/A";
    document.getElementById("email").textContent = params.get("email") || "N/A";
    document.getElementById("message").textContent = params.get("message") || "N/A";
  </script>
</body>
</html>
