 <body>

 <img
    src="/images/chef.jpg"
    alt="Chef preparing food at Valentino's Takeaway"
    class="img-fluid w-50 mb-3"
  />

  <h1>Thank You for Your Order!</h1>

    <p>Dear {{fullname}}, your order has been received.</p>
    

    <p><a href="/order">â† Back to Order Page</a></p>

  </main>
  </body>